* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Patrick Hand', sans-serif;
    background-color: steelblue;
    margin-top: 9rem;
}

#main-title {
    
    font-size: 4.5rem;

    h1 {
        text-align: center;
        color: #fff;
    }
}

#game-container {
    font-size: 3rem;
    ul {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-right: 15px;

        .players {
            margin-right: 10rem;
            margin-left: 10rem;
            width: 165px;

            li {
                text-align: center;
                color:#ffc8a3;
            }

            
            img {
                margin-top: 15px;
                width: 150px;
            }
        }

        .roll-btn{
            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.5rem;
                padding: 5px 15px;
                background-color: #83b6bd;
                border-radius: 10px;
            }
        }
        
    }
}