* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: steelblue;
}

#main-title {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 4.5rem;

    h1 {
        text-align: center;
        color: #fff;
    }
}